@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for PinnedStocks */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6;
    border-radius: 1rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #07407b;
    border-radius: 1rem;
    border: 2px solid #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0a5091;
}